#principal{
    border: 5px solid red;
    background: green;
}

.conteudo{
    background: blue;
    border: 1px solid gray;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: right;
}

/*.conteudo1{
    background: red;
    border: 1px solid gray;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: left;
}*/

.conteudo-zero{
    background: red;
    border: 1px solid gray;
    margin: 10px;
    width: 200px;
    height: 200px;
}

.clear{
    clear: both;
}