body{
    background: #007fc7;
}

h1{
    
}

p{
    width: 300px;
}

#container{
    background: #FFF;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
}

.relative{
    border: 1px solid red;
    position: relative;     /*  top, right, bottom, left  */
    /*top: 80px;
    left: 0px;
    right: 20px;*/
    bottom: -20px;
}